div.head {
  background-color: rgb(195, 245, 243);
}

nav {
  text-align: center;
  position: relative;
  top: 50px;
}
#home {
  position: relative;
  right: 100px;
  font-size: x-large;
}
#git {
  position: relative;
  left: 100px;
  font-size: x-large;
}
#title {
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  text-align: center;
  background-color: darkcyan;
}
.logo {
  position: relative;
  bottom: 15px;
}

main .myinfo {
  background-color: rgb(225, 225, 225);
}

main .userinfo {
  background-color: rgb(246, 246, 246);
}

main .myinfo h4 {
  text-align: center;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .myinfo p {
  position: relative;
  left: 500px;

  width: 500px;
  text-align: center;
  font-size: larger;
}

main .myinfo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main .userinfo h4 {
  text-align: center;
  font-size: larger;
}

section form {
  text-align: center;
}

footer {
  background-color: rgb(195, 245, 243);
}
div p {
  text-align: center;
}
div span {
  font-size: large;
}
